<!-- <h1>Hello world</h1>
<app-coucou></app-coucou>
<app-coucou></app-coucou>
<app-coucou></app-coucou>
 -->

<h1>Bienvenue sur ma première application Angular</h1>
<app-pipes-date></app-pipes-date>
<nav>
  <ul>
    <li>
      <a routerLink="/home">
        <div>Home</div>
      </a>
    </li>
    <li>
      <a routerLink="/home/coucou">
        <div>Coucou</div>
      </a>
    </li>
    <li>
      <a routerLink="/two-way">
        <div>Bindings Two Way</div>
      </a>
    </li>
    <li>
      <a routerLink="/event">
        <div>Bindings Event</div>
      </a>
    </li>
    <li>
      <a routerLink="/attribute">
        <div>Bindings Attribute</div>
      </a>
    </li>
    <li>
      <a routerLink="/pipe-json">
        <div>Pipe Json</div>
      </a>
    </li>
    <li>
      <a routerLink="/direct-comp">
        <div>Direct Component</div>
      </a>
    </li>
    <li>
      <a routerLink="/direct-struct">
        <div>Direct Struct</div>
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
