<!-- <h1>Hello world</h1>
<app-coucou></app-coucou>
<app-coucou></app-coucou>
<app-coucou></app-coucou>
 -->

<h1>Bienvenue sur ma première application Angular</h1>
<nav>
  <ul>
    <li>
      <a routerLink="/home">
        <div>Home</div>
      </a>
    </li>
    <li>
      <a routerLink="/home/coucou">
        <div>Coucou</div>
      </a>
    </li>
    <li>
      <a routerLink="/two-way">
        <div>Binding Two Way</div>
      </a>
    </li>
    <li>
      <a routerLink="/event">
        <div>Binding Event</div>
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
